<!DOCTYPE html>

<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/topbar') %>
            <%- include('partials/side-nav') %>
                <div class="page-content">
                    <div class="table-container">
                        <input class="input" type="text" id="orderSearch" onkeyup="searchOrder()"
                            placeholder="Search by order id" title="">
                        <table class="table" id="order_table">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Customer ID</th>
                                    <th>Order Status Code</th>
                                    <th>Date/Time Orders Placed</th>
                                    <th>Total Order Price</th>
                                    <th>Order Notes</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!--object called orders loaded on page render -->
                                <% if(orders.length> 0){ %>

                                    <% for ( var i=0 ; i < orders.length ; i++){ %>
                                        <tr>
                                            <td>
                                                <%= orders[i].order_id%>
                                            </td>
                                            <td>
                                                <%= orders[i].customer_id%>
                                            </td>
                                            <td>
                                                <%= orders[i].order_status_code%>
                                            </td>
                                            <td>
                                                <%= orders[i].datetime_order_placed%>
                                            </td>
                                            <td>
                                                <%= orders[i].total_order_price%>
                                            </td>
                                            <td>
                                                <%= orders[i].order_notes%>
                                            </td>
                                        </tr>
                                        <% } %>

                                            <% } %>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
                <script>
                    function searchOrder() {
                        var input, filter, table, tr, td, i, txtValue;
                        input = document.getElementById("orderSearch");
                        filter = input.value.toUpperCase();
                        table = document.getElementById("order_table");
                        tr = table.getElementsByTagName("tr");
                        for (i = 0; i < tr.length; i++) {
                            td = tr[i].getElementsByTagName("td")[0];
                            if (td) {
                                txtValue = td.textContent || td.innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }
                        }
                    }
                </script>
    </body>

</html>