<!DOCTYPE html>

<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/topbar') %>
        <%- include('partials/side-nav') %>
        <div class="page-content">
        <h1>This is the orders page</h1>
        

        <!--bulma modal as popup form to edit order-->
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Edit order</p>
                <button onClick="hidePopup()" id="delete" class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <!-- Content ... -->
                <form>
                    <form name="editOrder" enctype="application/x-www-form-urlencoded">
                        <table>
                            <tr>
                                <td>Customer ID</td>
                                <td><input type="text" name="customer_id" id="customer_id" class="input"></td>
                            </tr>
                            <tr>
            
                                <td>Product</td>
                                <td><input type="text" name="productname" id="productname" class="input"></td>
                                <td>Quantity</td>
                                <td><input type="text" name="quantity" id="quantity" class="input"></td>
                            <tr>
                                <td colspan="2"><button type="button" id="addProductButton" class="button">Add to
                                        Order</button></td>
                            </tr>
                            <table id="orderTable" class="table">
                                <caption>Order Details</caption>
                                <thead>
                                    <tr>
                                        <th>Product ID</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                </tbody>
                            </table>
                            </tr>
                            <tr>
                                <td>Order Notes</td>
                                <td><textarea type="text" name="order_notes" id="order_notes" class="textarea"></textarea></td>
                            </tr>
                        </table>
                    </form>
                </form>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-success">Save changes</button>
                <button class="button">Cancel</button>
              </footer>
            </div>
          </div>


        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer ID</th>
                    <th>Order Status Code</th>
                    <th>Date/Time Orders Placed</th>
                    <th>Total Order Price</th>
                    <th>Order Notes</th>
                </tr>
            </thead>
            <tbody>
                
                <script>
                    const modal = document.getElementsByClassName("modal")[0];
                    const deleteButton = document.getElementById("delete");
                    function showPopup(i){
                    //add is-active to .modal
                        //console.log(modal.classList);
                        console.log(`you are at element ${i}`);
                        modal.classList.add("is-active");
                        const customer_id_field  = document.getElementById('customer_id');
                        //console.log(customer_id_field);
                        customer_id_field.value = orders[i].customer_id;
                    }
                    function hidePopup(){
                        //remove is-active 
                        //clear form 
                        modal.classList.remove("is-active");
                    }
                   
                    //populate the form areas with 
                </script>
                <!--object called orders loaded on page render -->
                <% if(orders.length > 0){ %>

                    <% for ( var i = 0 ; i < orders.length ; i++){ %>
                        
                    <tr>
                       <td>
                           <a onClick="showPopup('<%- i%>')"><%= orders[i].order_id%></a>
                          
                       </td>
                       <td>
                          <%= orders[i].customer_id%>
                       </td>
                       <td>
                        <%= orders[i].order_status_code%>
                     </td>
                     <td>
                        <%= orders[i].datetime_order_placed%>
                     </td>
                     <td>
                        <%= orders[i].total_order_price%>
                     </td>
                     <td>
                        <%= orders[i].order_notes%>
                     </td>
                    </tr>
                    <% } %>
          
                 <% } %>
            </tbody>
            <tfoot></tfoot>
        </table>
        </div>
    </body>
</html>
