<!DOCTYPE html>

<html lang="en">

<%- include('partials/head') %>

<body>
    <%- include('partials/topbar') %>
    <%- include('partials/side-nav') %>
    <div class="page-content">
    <h1>Products</h1>
            <div class="table-container">
            <input class="input" type="text" id="productSearch" onkeyup="searchProduct()"
                placeholder="Search by name" title="">
            <table class="table" id="product_table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>SKU</th>
                <th>Price</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
                <!--object called customers loaded on page render -->
                <% if(products.length> 0){ %>
                    <% for ( var i=0 ; i < products.length ; i++){ %>
                        <tr>
                            <td>
                                <%= products[i].product_id%>
                            </td>
                            <td>
                                <%= products[i].SKU%>
                            </td>
                            <td>
                                <%= products[i].price%>
                            </td>
                            <td>
                                <%= products[i].product_name%>
                            </td>
                            <td>
                                <%= products[i].quantity%>
                            </td>
                            <td>
                                <%= products[i].description%>
                            </td>
                        </tr>
                        
                    
                    
                    <% } %>

                <% } %>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
                <script>
                    function searchProduct() {
                        var input, filter, table, tr, td, i, txtValue;
                        input = document.getElementById("productSearch");
                        filter = input.value.toUpperCase();
                        table = document.getElementById("product_table");
                        tr = table.getElementsByTagName("tr");
                        for (i = 0; i < tr.length; i++) {
                            td = tr[i].getElementsByTagName("td")[3];
                            if (td) {
                                txtValue = td.textContent || td.innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }
                        }
                    }
                </script>
    </body>

</html>
